body {
  text-align: center;
  background-image: url(img/fondos.jpg);
  background-size: cover;
}

h1 {
  font-family: 'Oswald', sans-serif;
  color: #1340B9;
  font-size: 250%;
  margin-top: 40px;
  font-weight: bold;
}

.intro {
  font-family: 'PT Serif', serif;
  font-size: 125%;
  color: #122863;
}

.data, .select, .finalMessage {
  font-family: 'PT Serif', serif;
  font-size: 110%;
  color: #122863;
}

input {
  padding: 7px;
  display: block;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}

#userText, #key {
  margin-top: 1%;
}

.finalResult {
  margin-bottom: 1%;
}

#ciphering, #deciphering {
  font-family: 'Arimo', sans-serif;
  font-weight: bold;
  padding: 15px 20px;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #929289;
  background-color: #E8E854;
}

#ciphering {
  margin-right: .6%;
}

#deciphering {
  margin-left: .6%;
}

#ciphering:active {
  background-color: #030308;
  color: #F7F9F9;
}

#deciphering:active {
  background-color: #030308;
  color: #F7F9F9;
}

.name {
  margin-top: 40px;
  margin-bottom: 25px;
}

.number,option,p {
  margin-top: 25px;
  margin-bottom: 25px;
}

fieldset {
  border-style: none;
}
