body {
  text-align: center;
  background-image: url(img/fondos.jpg);
  background-size: cover;
}

h1 {
  font-family: 'Oswald', sans-serif;
  color: #fff;
  font-size: 240%;
  width: 45%;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 1.5%;
  padding-top: 1.5%;
  margin-top: 2.5%;
  background-color: #1340B9;
}

.intro {
  font-family: 'PT Serif', serif;
  font-size: 125%;
  color: #1340B9;
  font-weight: bold;
}

.data, .select, .finalMessage {
  font-family: 'PT Serif', serif;
  font-size: 110%;
  color: #1340B9;
  font-weight: bold;
}

.select {
  margin-top: 0.4%
}

input {
  padding: 1%;
  display: block;
  width: 45%;
  margin-left: auto;
  margin-right: auto;
}

#userText, #key {
  margin-top: 1%;
}

.finalResult {
  margin-bottom: 1%;
}

#ciphering, #deciphering {
  font-family: 'Arimo', sans-serif;
  font-weight: bold;
  padding: 1.2% 1.3%;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #8F8F8D;
  background-color: #F6E51B;
}

#ciphering {
  margin-right: 0.6%;
}

#deciphering {
  margin-left: 0.6%;
}

#ciphering:active {
  background-color: #030308;
  color: #F7F9F9;
}

#deciphering:active {
  background-color: #030308;
  color: #F7F9F9;
}

fieldset {
  border-style: none;
}
